/*** 01. Default styles ***/

html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font-family: 'Rambla', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 400;
    color: #999;
    background: #f2f2f2;
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #101010;
    font-family: 'Rambla', sans-serif;
    font-weight: 700;
    margin: 0 0 20px 0;
}

/* paragraph */

p {
    font-family: 'Rambla', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    margin: 0 0 20px;
    color: #999;
}

/* lists */

ul {
    list-style-type: none;
}

/* links */

a {
    color: #101010;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #101010;
    outline: none;
    text-decoration: none !important;
}

a:link {
    text-decoration: none;
}

a:focus {
    outline: none;
}

img {
    width: 100%;
    height: auto;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-15 {
    margin-bottom: 15px;
}

.small,
small {
    font-size: 80%;
}

b,
strong {
    color: #101010;
}

/*** form element ***/

/* text field */

button,
input,
optgroup,
select,
textarea {
    font-family: 'Rambla', sans-serif;
}

input[type='password']:focus,
input[type='email']:focus,
input[type='text']:focus,
input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus,
textarea:focus {
    outline: none;
}

input[type='password'],
input[type='email'],
input[type='text'],
input[type='file'],
textarea {
    max-width: 100%;
    margin-bottom: 15px;
    border-color: #ececec;
    padding: 18px 0px 10px;
    height: auto;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 0 0 1px;
    border-style: solid;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
    color: #0556bf;
    background-image: none;
    border-bottom: 1px solid #ececec;
    border-color: ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input:focus,
textarea:focus {
    border-bottom-width: 2px;
    border-color: #0556bf;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
button {
    text-shadow: none;
    padding: 6px 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    border: none;
    color: #fff;
    -webkit-transition: background-color 0.15s ease-out;
    transition: background-color 0.15s ease-out;
    background-color: #0556bf;
    margin-top: 10px;
    border: 1px solid #0556bf;
    border-radius: 50px;
    font-size: 16px;
    letter-spacing: 0;
}

input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
button:hover {
    background-color: #053090;
    color: #fff;
}

select {
    padding: 10px;
    border-radius: 5px;
}

table,
th,
tr,
td {
    border: 1px solid #0556bf;
}

th,
tr,
td {
    padding: 10px;
}

input[type='radio'],
input[type='checkbox'] {
    display: inline;
}

/* Scrollbar  */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #101010;
}

::-webkit-scrollbar-thumb:hover {
    background: #101010;
}

/* Selection */

::-webkit-selection {
    color: #999;
    background: rgba(0, 0, 0, 0.1);
}

::-moz-selection {
    color: #999;
    background: rgba(0, 0, 0, 0.1);
}

::selection {
    color: #999;
    background: rgba(0, 0, 0, 0.1);
}

#home-page {
    width: 88%;
    margin: 6%;
    overflow: hidden;
    position: relative;
}

#aside {
    padding: 45px 30px;
    width: 20.22%;
    position: fixed;
    bottom: 30px;
    top: 30px;
    /*    left: 0;*/
    overflow-y: scroll;
    z-index: 1001;
    background-image: linear-gradient(
        to right top,
        #032481,
        #053090,
        #073da0,
        #0749af,
        #0556bf
    );
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1200px) {
    #aside {
        width: 26.4%;
    }
}

@media screen and (max-width: 768px) {
    #aside {
        width: 270px;
        -moz-transform: translateX(-270px);
        -webkit-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
        padding-top: 4em;
    }
}

#aside #logo {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1em;
    font-family: 'Rambla', sans-serif;
    margin-bottom: 45px;
    display: block;
    width: 100%;
}

#aside #logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 1px solid transparent;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2),
        0 13px 24px -11px rgba(3, 36, 129, 0.6);
}

@media screen and (max-width: 768px) {
    #aside #logo {
        margin-bottom: 60px;
    }
}

#aside #logo a {
    display: inline-block;
    text-align: center;
    color: #fff;
}

#aside #logo a span {
    display: block;
    margin-top: 0px;
    text-align: center;
    color: #d6e5f8;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 200;
}

#aside #main-menu ul {
    text-align: left;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    #aside #main-menu ul {
        margin: 0 0 30px 0;
    }
}

#aside #main-menu ul li {
    margin: 12px 0 12px 0;
    padding: 0 0 8px 0;
    list-style: none;
    font-family: 'Rambla', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0px;
    border-bottom: 1px solid #044dab;
}

#aside #main-menu ul li a {
    color: #b4cceb;
    position: relative;
}

#aside #main-menu ul li a:hover {
    text-decoration: none;
    color: #fff;
}

#aside #main-menu ul li.active a {
    color: #fff;
}

#aside #main-menu ul li.active a:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

/*** 12. Navigation styles ***/

.nav-toggle {
    cursor: pointer;
    text-decoration: none;
}

.nav-toggle.active i::before,
.nav-toggle.active i::after {
    background: #fff;
}

.nav-toggle.dark.active i::before,
.nav-toggle.dark.active i::after {
    background: #101010;
}

.nav-toggle:hover,
.nav-toggle:focus,
.nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}

.nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    width: 20px;
    height: 1px;
    color: #fff;
    font: bold 14px/0.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #fff;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    top: -4px;
}

.nav-toggle i::before,
.nav-toggle i::after {
    content: '';
    width: 20px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.nav-toggle.dark i {
    position: relative;
    color: #101010;
    background: #101010;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.nav-toggle.dark i::before,
.nav-toggle.dark i::after {
    background: #101010;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.nav-toggle i::before {
    top: -7px;
}

.nav-toggle i::after {
    bottom: -7px;
}

.nav-toggle:hover i::before {
    top: -10px;
}

.nav-toggle:hover i::after {
    bottom: -10px;
}

.nav-toggle.active i {
    background: transparent;
}

.nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.nav-toggle {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    cursor: pointer;
    opacity: 1;
    visibility: hidden;
    padding: 12px 13px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: #0556bf;
    margin: 30px 30px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .nav-toggle {
        opacity: 1;
        visibility: visible;
    }
}

/*** 04. Content styles ***/

#main {
    width: 77%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {
    #main {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    #main {
        width: 100%;
    }
}

#hero {
    min-height: 560px;
    background: #fff url(../images/loader.gif) no-repeat center center;
    width: 100%;
    float: left;
    margin-bottom: 0;
    clear: both;
}

#hero .btn {
    font-size: 24px;
}

#hero .btn.btn-primary {
    padding: 15px 30px !important;
}

body.offcanvas {
    overflow-x: hidden;
}

body.offcanvas #aside {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    width: 270px;
    z-index: 999;
    position: fixed;
}

body.offcanvas #main,
body.offcanvas .nav-toggle {
    top: 0;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
}

/*** 05. Section styles ***/

.blog,
.post,
.projects,
.pricing,
.recent-projects,
.testiominal,
.timeline,
.about,
.skills,
.clients,
.services,
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    clear: both;
    width: 100%;
    display: block;
    background: #fff;
}

@media screen and (max-width: 768px) {
    .post,
    .projects,
    .testiominal,
    .pricing,
    .blog,
    .timeline,
    .about,
    .testiominal,
    .skills,
    .services,
    .contact {
        padding-top: 90px;
        padding-bottom: 60px;
    }
    .heading-meta {
        margin-bottom: 0px;
    }
    .recent-projects {
        padding-top: 30px;
        padding-bottom: 60px;
    }
}
